
.icon-arrow_master:before { content: '\e800'; } /* '' */
.icon-arrow_photo:before { content: '\e801'; } /* '' */
.icon-arrow_right:before { content: '\e802'; } /* '' */
.icon-arrow_slider:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-contacts:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-loading:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-machine:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-portfolio:before { content: '\e80c'; } /* '' */
.icon-service:before { content: '\e80d'; } /* '' */
.icon-vk:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-share:before { content: '\e810'; } /* '' */